
 <div class="header-container">
    <nav class="header-menu">
      <ul>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Descrição</a></li>
      </ul>
    </nav>

    <div class="header-application">
      <figure>
        <img alt="Doge logo" src="../assets/Doge.jpg" />
      </figure>

      <div class="header-description">
        <h1>{{nome}}</h1>
        <p>
          Mussum Ipsum, cacilds vidis litro abertis. Mais vale um bebadis
          conhecidiss, que um alcoolatra anonimis.Atirei o pau no gatis, per
          gatis num morreus.Posuere libero varius. Nullam a nisl ut ante blandit
          hendrerit. Aenean sit amet nisi.Per aumento de cachacis, eu reclamis.
        </p>
      </div>
    </div>
  </div>
